page {
  height: 100vh;
  background: #f7f7f7;
}

.container {
  justify-content: initial;
}

.title-box {
  width: 100%;
  text-align: center;
  font-size: 28rpx;
  margin-top: 100rpx;
  color: #999;
  background: url("https://cdn.it120.cc/images/weappshop/icon-cart.png") no-repeat center 205rpx;
  background-size: 100rpx auto;
  margin-bottom: 50rpx;
}

.to-index-btn {
  color: #fff;
  background: #e64340;
  border-radius: 6px;
  width: 300rpx;
  height: 70rpx;
  line-height: 70rpx;
  text-align: center;
  font-size: 28rpx;
  display: block;
  margin: 0 auto;
}

.list-top {
  width: 100%;
  line-height: 108rpx;
  height: 108rpx;
  box-sizing: border-box;
  display: flex;
  padding: 0 30rpx;
  font-size: 28rpx;
}

.list-top .label {
  color: #000;
  margin-right: 20rpx;
  font-size: 40rpx;
  font-family: Microsoft YaHei;
  font-weight: 400;
}

.list-top .edit-btn {
  color: #999;
  line-height: 125rpx;
}

.goodsList {
  width: 670rpx;
  margin: 30rpx 40rpx 30rpx 40rpx;
  box-sizing: border-box;
  height: calc(100vh - 370rpx);
  overflow-y: auto;
}

.a-gooods {
  width: 670rpx;
  margin: 0 40rpx;
  box-sizing: border-box;
  border-radius: 12rpx;
  height: 212rpx;
  overflow: hidden;
  margin-top: 20rpx;
}

.shopBox {
  margin-bottom: 30rpx;
  background: #fff;
  border-radius: 18rpx;
}

.shopName {
  box-sizing: border-box;
  line-height: 80rpx;
  padding-left: 30rpx;
  border-bottom: 1rpx solid #f7f7f7;
}

.a-goods-conts {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  transition: margin-left 0.2s ease-in-out;
  background: url("https://cdn.it120.cc/images/weappshop/gou.png") no-repeat 30rpx center;
  background-size: 40rpx auto;
}

.a-goods-conts.active {
  background: url("https://cdn.it120.cc/images/weappshop/gou-red.png") no-repeat 30rpx center;
  background-size: 40rpx auto;
}

.goods-info {
  display: flex;
  justify-content: space-between;
  padding: 20rpx 0 20rpx 90rpx;
  width: 670rpx;
  box-sizing: border-box;
  height: 210rpx;
  border-bottom: 1rpx solid #f7f7f7;
}

.goods-info .text-box {
  width: 450rpx;
  margin-right: 40rpx;
  position: relative;
}

.goods-info .text-box .goods-title {
  font-size: 28rpx;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10rpx 20rpx 5rpx 0;
}

.goods-info .text-box .goods-label {
  font-size: 26rpx;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 8rpx 0 25rpx 0;
}

.goods-info .text-box .goods-price {
  font-size: 26rpx;
  color: #e64340;
}

.goods-sku {
  color: #ff6969;
  font-size: 24rpx;
}

.goods-info .text-box .buy-num {
  width: 164rpx;
  height: 48rpx;
  line-height: 48rpx;
  position: absolute;
  right: 30rpx;
  bottom: 0;
  display: flex;
  /*justify-content: space-between;*/
  font-size: 24rpx;
  text-align: center
}

.goods-info .text-box .buy-num .jian-btn {
  width: 48rpx;
  height: 100%;
  border-left: 1rpx solid #ccc;
  border-bottom: 1rpx solid #ccc;
  border-top: 1rpx solid #ccc;
  border-bottom-left-radius: 6rpx;
  border-top-left-radius: 6rpx;
}

.goods-info .text-box .buy-num .jian-btn.disabled {
  background-color: #f5f5f9;
  border-left: 1rpx solid #eee;
  border-bottom: 1rpx solid #eee;
  border-top: 1rpx solid #eee;
  color: #ccc;
  pointer-events: none;
}

.goods-info .text-box .buy-num .jia-btn {
  width: 48rpx;
  height: 100%;
  border-right: 1rpx solid #ccc;
  border-bottom: 1rpx solid #ccc;
  border-top: 1rpx solid #ccc;
  border-bottom-right-radius: 6rpx;
  border-top-right-radius: 6rpx;
}

.goods-info .text-box .buy-num .jia-btn.disabled {
  background-color: #f5f5f9;
  border-right: 1rpx solid #eee;
  border-bottom: 1rpx solid #eee;
  border-top: 1rpx solid #eee;
  color: #ccc;
  pointer-events: none;
}

.goods-info .text-box .buy-num input {
  width: 68rpx;
  height: 48rpx;
  min-height: 48rpx;
  text-align: center;
  font-size: 24rpx;
  border: 1rpx solid #ccc;
}

.goods-info .img-box .img {
  width: 100rpx;
  height: 120rpx;
  margin: 10rpx;
}

.a-goods-conts .delete-btn {
  width: 130rpx;
  line-height: 220rpx;
  background: #e64340;
  font-size: 24rpx;
  color: #fff;
  text-align: center;
}

.jiesuan-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100rpx;
  position: fixed;
  bottom: 0;
  left: 0;
  border-bottom: 1rpx solid #eee;
  background-color: #fff;
  z-index: 999;
}

.jiesuan-box .to-pay-btn {
  width: 240rpx;
  text-align: center;
  line-height: 100rpx;
  background-color: #e64340;
  font-size: 32rpx;
  color: #ffffff;
  margin: 0 0 0 10rpx;
}

.jiesuan-box .to-pay-btn.no-select {
  background-color: #ccc;
}

.jiesuan-box .left-price {
  display: flex;
  width: 510rpx;
  justify-content: space-between;
  line-height: 100rpx;
  padding: 0 30rpx 0 0;
  font-size: 28rpx;
  box-sizing: border-box;
}

.jiesuan-box .all-selected {
  padding-left: 90rpx;
  color: #000000;
  background: url("https://cdn.it120.cc/images/weappshop/gou.png") no-repeat 30rpx center;
  background-size: 40rpx auto;
}

.jiesuan-box .all-selected.active {
  background: url("https://cdn.it120.cc/images/weappshop/gou-red.png") no-repeat 30rpx center;
  background-size: 40rpx auto;
}

.jiesuan-box .total {
  color: #e64340;
}
/*
复选框
*/
/*._checked{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 30rpx;
}
checkbox .wx-checkbox-input{
  border-radius: 40rpx;
}
!*复选框选中*!
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: #FF6969;
  border-color: #FF6969;
}*/
/**
* 购物车地址栏/编辑
*/
.cartAddress{
  display: flex;
  justify-content: space-between;
  padding: 0 40rpx;
  height: 88rpx;
  background: #fff;
  line-height: 88rpx;
}
.Address{
  font-size: 12px;
  color: #9C9C9C;
  width: 272rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cartImg{
  width: 48rpx;
  height: 48rpx;
  display: inline-block;
  vertical-align: middle;
}
.Edit{
  font-size: 14px;
}
/**
* 遮罩层
*/
.mask{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: rgba(10, 10, 10, 0.5)
}
.maskContent{
  width: 100%;
  height: 480rpx;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background:rgba(245,246,248,1);
  z-index: 9999;
}
.maskAddress{
  height: 100rpx;
  line-height: 100rpx;
  padding: 0 40rpx;
  display: flex;
  justify-content: space-between;
  background: #F5F6F8;
}
.maskImg{
  width: 36rpx;
  height: 36rpx;
  display: inline-block;
  vertical-align: middle;
}
.addressList{
  height: 150rpx;
  padding: 0 40rpx;
  font-size: 16px;
  background:rgba(255,255,255,1);
}
.ListTop{
  padding: 24rpx 0;
  color: #000000;
  font-family: Microsoft YaHei;
}
.ListButton{
  color: #9C9C9C;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.maskAdd{
  background:rgba(255,255,255,1);
  text-align: center;
  margin-top: 40rpx;
  height: 150rpx;
  line-height: 150rpx;
}
.addImg{
  height: 36rpx;
  width: 36rpx;
  display: inline-block;
  vertical-align: middle;
}
